In [3]:
#instead of trying to iterate through something like this. 
#build out a list using a for loop. 

#empty list
l = []

#for every letter in the word, word - append that to the list. 
for letter in "word":
    l.append(letter)

print l

['w', 'o', 'r', 'd']

In [8]:
#so you can flatten out the for loop within the brackets. 
#you begin with what you actually want the list to consist of. 
lst =[letter for letter in 'word']

In [9]:
lst

['w', 'o', 'r', 'd']

In [10]:
#so for example we can list out the square root for something in a range. 
lst = [x**2 for x in xrange(0,11)]
#so for this the list is going consist of the first itme in this case x**2.

In [11]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
# these are kind of weird because you don't really need to know your results 
#becuase you just put what you want in front. You can put for loops in place too. 
lst = [number for number in range(11) if number % 2 == 0]
#number equals - number for range 1 - 10 if the number has no remainder. 
#remember the second number variable is just garbage it can be anything. 
lst

[0, 2, 4, 6, 8, 10]

In [16]:
lst = []

for number in range(11):
    if number %2 == 0:
        lst.append(number)

In [17]:
lst

[0, 2, 4, 6, 8, 10]

In [19]:
#celcious to farinight

celsius = [0,10,20.1,34.5]

#list comprehension to convert to farenight
#this will iterate through the celsius list and assign each value to the temp variable. 
#the list will be created using the values in temp variable. 
fahrenheit = [(temp * (9/5.0) + 32) for temp in celsius]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [21]:
#nested list comprenhension
lst = [x**2 for x in [x**2 for x in range(11)]]

lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]