In [1]:
#single quote
'Hello'

'Hello'

In [2]:
#single quotes - this is a sentence 
'This is also a string'

'This is also a string'

In [4]:
# double quotes
"This is a string"

'This is a string'

In [3]:
#if you use actual quotes in your text then you need to get creative 
' "This is a quote" '

' "This is a quote" '

In [5]:
"I'm hungary"

"I'm hungary"

In [7]:
#This is how you should really output strings - jupiter notebooks kind of does this for you but is bad practice 
print 'Hello World 1'
print 'Hello World 2'

Hello World 1
Hello World 2

In [8]:
#\n tells pythong not to use the 'n' as a real 'n' - but is the new line symbol. 
print 'Here is a new line \n and here is the second line'

Here is a new line
 and here is the second line

In [9]:
#\t is a tab symbol for example 
print 'This is before the tab \t and this is after the tab'

This is before the tab 	 and this is after the tab

In [11]:
#pythong 3 stuff - printing is a function() not a statement 
#from __future__ import print_function 
#print('Hello  World')

Hello  World

In [3]:
#check length of  a string 
len('Hello World')

11

In [2]:
s = 'Hello World'
print s

Hello World

In [4]:
s

'Hello World'

In [5]:
#This will return the 1st elemenet of the string 
#Indexing starts at zero 0 
s[0]

'H'

In [6]:
#Get 2nd letter 
s[1]

'e'

In [7]:
#slicing - grabs everyting from 1st index  - onwards 
s[1:]

'ello World'

In [8]:
#not actually chaning the string 
s

'Hello World'

In [9]:
#grab everyting up-to the 3rd indx
s[:3]

'Hel'

In [10]:
#grab everything
s[:]

'Hello World'

In [11]:
#you can also goes backwards - so negitive 1 would be last element because you loop backwards 
s[-1]

'd'

In [14]:
#grab everything but last letter
s[:-1]

'Hello Worl'

In [15]:
#specifiy the step size - 1- 
s[::1]

'Hello World'

In [16]:
#specify everything step size - 2 - 
s[::2]

'HloWrd'

In [17]:
#use the same idea but go backwards - traverse backwards 
s[::-1]

'dlroW olleH'

In [18]:
#stings are immutabile - elemetns cannot be changed or replaced in a string 
s

'Hello World'

In [19]:
#This gives an error doing this - if you try to re-assign the zero element to an 'x' - see it's not possible 
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [20]:
#you can add onto a string - cancatinate 
s

'Hello World'

In [22]:
#see you can add onto a string 
s + ' concatenate me!'

'Hello World concatenate me!'

In [23]:
#you can re-assign the s value completly 
s = s + ' concatenate me!'
s

'Hello World concatenate me!'

In [24]:
s

'Hello World concatenate me!'

In [29]:
# you can use muliplication of strings to duplicate it 
letter = 'zz'

In [30]:
#print letter
letter

'zz'

In [31]:
#print letter times 10
letter*10

'zzzzzzzzzzzzzzzzzzzz'

In [32]:
#methods for stings 
s = 'Hello'

In [33]:
s

'Hello'

In [35]:
#upper case method. The value for the string goes before the period 
#check out advanced string lecuture for more info on all the methods. 
#use tab key after the '.' to see auto complete of methods to choose from
s.upper()

'HELLO'

In [36]:
s.lower()

'hello'

In [38]:
s.split('e')

['H', 'llo']